@charset "UTF-8";

/*
  Paleta de cores
  Rosa claro: #F2A7D0
  Rosa mais escuro: #A62454
  Rosa escuro : #8C0327 */

  *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body, html{
    background-image: linear-gradient(to top, #8C0327,#F2A7D0);
    height: 100vh;
    width: 100vw;
  }

  main{
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden; /* tudo que tiver fora da borda vai ser escondido */

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
  }

  section#login > div#imagem {
    display: block;
    background: #F2A7D0 url(../imagens/imagem1.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;

  }

  section#login > div#formulario{
    display: block;
    padding: 10px;
  }

  div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
  }

  div#formulario > p{
    font-size: 0.8em;
    
  }

  form > div.campo{
    display: block;
    width: 100%;
    height: 30px;
    margin: 4px 0px;
  }

  div.campo > label{
    display: none;
  }

  div.campo > span{
    
    font-size: 1.8em;
    width: 40px;
    padding: 5px;
  }

  div.campo > input {
    background-color: #f0b8d7;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    
    border: 0px;
    border-radius: 3px;
    padding: 2px;
    transform: translateY(-10px);
  }

  div.campo > input:focus-within{ /* colocar o foco no quadrado */
    background-color: white;
  }

  

  form > input[type=submit] {
    display: block;
    
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #D95B96;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }

  form > input[type=submit]:hover{
    background-color: #f177ba ;
  }

  form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #ef3e9f;
    border: 1px solid #f285c1 ;
    border-radius: 7px;
    text-decoration: none;
  }

  form > a.botao:hover{
    background-color: #F2A7D0;
  }

  form > a.botao > i{
    font-size: 0.8em;
  }